.test__layout {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.test__area1 {
  width: 100%;
  height: 100vh;

  background-color: red;
}
.test__area2 {
  width: 100%;
  height: 100vh;

  background-color: blue;
}
.test__area3 {
  width: 100%;
  height: 100vh;

  background-color: green;
}
.test__area4 {
  width: 100%;
  height: 100vh;

  background-color: yellow;
}
.test__area5 {
  width: 100%;
  height: 100vh;

  background-color: yellowgreen;
}
.test__area6 {
  width: 100%;
  height: 100vh;

  background-color: rebeccapurple;
}
.test__area7 {
  width: 100%;
  height: 100vh;

  background-color: orange;
}
