html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;

  background-color: var(--color-main);

  box-sizing: border-box;
}

a {
  outline: none;
  text-decoration: none;

  box-sizing: border-box;
}

a:visited,
a::before {
  color: back;
  box-sizing: border-box;
}

button,
div,
p {
  padding: 0;
  margin: 0;

  border: none;
  outline: none;
  box-sizing: border-box;
}

li {
  list-style: none;
  box-sizing: border-box;
}

:root {
  --color-black: #323133;
  --color-semi-black: #434a54;
  --color-red: #da4453;
  --color-light-red: #ed5565;
  --color-yellow: #ffce54;
  --color-green: #a0d468;
  --color-dark-green: #8cc152;
  --color-semi-white: #e6e9ed;
  --color-white: #fff;
  --color-semi-grey: #ccd1d9;
  --color-dark-grey: #656d78;

  --color-main: #2d3250;
  --color-sub: #424769;
  --color-sub-alt: #676f9d;

  --color-point: #f9b17a;
  --color-point-alt: #ff7f50;
}
